/* report.scss */
.landingpage {
    display: grid;
    gap: 0.5em 0.5em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    grid-column: span 1;
    border: 1px solid #000;
    /*display: flex;
    flex-direction: column;*/
    text-align: center;
}

.kmom-box.project {
    grid-column: span 3;
}

.kmom-box h3 {
    background-color: #5f9ea0;
}

/* load-page */

.list li {
    list-style-type: square;
    font-family: $font;
    word-spacing: 0.2rem;
    padding: 0.2rem;
}

.list ul {
    padding-left: 1.4rem;
}

@media (max-width: 767px) {
    .kmom-box {
        grid-column: span 4;
    }

    .kmom-box.project {
        grid-column: span 4;
    }

    .landingpage {
        grid-column: span 4;
    }
}

